
<div class="row">
	<div class="col-md-4">
		<h3>Add a user: </h3>
		<form action="/api/user" method="post">
		    <div class="form-group">
		        <label for="username">User Name</label>
		        <input type="text" class="form-control" id="username" placeholder="Enter user name" name="username">
		        <label for="password">Password</label>
		        <input type="text" class="form-control" id="password" placeholder="Enter password" name="password">
		    </div>

    		<button type="submit" class="btn btn-success">Add user</button>
		</form>
	</div>	
	<div class="col-md-8">	
		<h3>Select a user: </h3>
		<ul class="people_list">
			{{#each user}}
	    	<li><button type="button" class="btn btn-dark btn-block user-login"<a href="/user/{{id}}">{{username}}</a></button></li>
	  		{{/each}}
		</ul>
	</div>
</div>