body {
/*  background-color: #545151;
*/  background-image: url(/img/blackdenim.png);
	color: white;
}

.navbar, .modal-title, h1, h2, h3, h5, h6{

    font-family: 'Passion One', cursive;
    font-size: 40px;
    text-shadow: 3px 3px rgba(5, 5, 5, 0.83)
}
h1 {
	font-size: 50px;
}
h2 {
	font-size: 30px;
}
h6 {
	font-size: 20px;
}
#title {
	float: left;
	margin-top: 20px;
}
.relTitle{
	float: left;
	margin-top: 30px;
}

#nav-main {
	-webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}
.navbar-dark .navbar-nav .nav-link {
	color: white;
}
#nav-user {
	font-size: 30px;
}
/*#user-nav a {
	font-size: 22px;
	margin-right: 8px;
	color: white;
}
#user-nav a:link {
	
	text-decoration: none;
}*/
form, .homebtn {
	margin-top: 30px;
	margin-bottom: 35px;
	float: right;
}
.form-inline .form-control{
	width: 325px;
}

#showme {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}
.img-thumbnail {
  background-position: 20px 20px;
  background-color: rgba(5, 5, 5, 0.83);
  box-shadow: 5px 5px 3px rgba(5, 5, 5, 0.83);
  border: none;
  height: 295px;
  margin-right: 20px;
}
.titleCaption {
  color: white;
  font-size: 20px;
  font-family: 'Passion One', cursive;
  text-shadow: 3px 3px rgba(5, 5, 5, 0.83);
}
a:link {
	color: white;
	text-decoration: none;
}
a:hover {
	color: #d9d900;
	text-decoration: none;
}
i {
	color: #d9d900;
	font-size: 100px;
}
/*.fa-home:before {
	font-size: 50px;
}*/
ul {
	list-style: none;
}

.btn {
	margin:5px;
}

footer {
	text-align: center;
}

.modal-content {
	background-color: #151212; 
	color: white;
}
#modImage {
  box-shadow: 5px 5px 3px rgba(5, 5, 5, 0.83)
}
.close{
	color: white;
}
