body {
/*  background-color: #545151;
*/  background-image: url(/img/blackdenim.png);
	color: white;
}
.navbar {
/*    color: white;*/
    font-family: 'Passion One', cursive;
    font-size: 40px;
/*    text-shadow: 3px 3px rgba(5, 5, 5, 0.83)
*/}
i {
	color: #d9d900;
}

ul {
	list-style: none;
}

.btn {
	margin:5px;
}

footer {
	text-align: center;
}